<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<center>
    <h1 id="info"> Connection closed</h1>
   <h2 id="hello"></h2>
    <h5 id="message"></h5>

    <form onsubmit="sendMessage(); return false;" action="#">
        Message <input id="message_to_send" type="text" value="">
        <button type="submit">Send</button>

    </form>

</center>
<script>

    var webSocket = new WebSocket("ws://localhost:8080/chat");
    webSocket.onopen = function (ev) {
        console.log("Connection opened");
        document.getElementById("info").innerHTML
            = "Connection opened";
        document.getElementById("hello").innerHTML = "Hello new user, first message will be your nickname";
    };

    webSocket.onmessage = function (ev) {
        var messages = document.getElementById("message");

        if(ev.data.startsWith("<server>")){
            messages.innerHTML = messages.innerHTML + "<li style='color: red'>" + ev.data.replace("<server>", "") + "</li>";
            return;
        }

        messages.innerHTML = messages.innerHTML
            + "<li>" + ev.data + "<li>";
    };

    function sendMessage() {
        var messageObject = document.getElementById("message_to_send");
        var message = messageObject.value;

        messageObject.value = "";
        webSocket.send(message);
    }

</script>
</body>
</html>